* {
  font-family: Circular, Circular-cyr, Helvetica, Arial, sans-serif,
    iosfallbackfix !important;
}

.restore_main_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 50px;
  width: 100vmax;
}

.restore_navabar_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(217, 218, 220);
  padding: 25px 0px 25px;
}

.restore_navbar_icon {
  width: 182px;
  height: 56px;
}
.restore_block_img {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.restore_img {
  width: 130px;
  height: 40px;
  /* margin-left: 45%; */
}

.restore_title_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  width: 430px;
  text-align: center;
  margin-top: 50px;
}

.restore_block_input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 45vmax;
  font-size: 20px;
  text-align: center;
}

.restore_inputs {
  margin-top: 15px !important;
}

.restore_inputs ::placeholder {
  color: rgb(127, 127, 127);
}
.restore_input_titile {
  margin-bottom: 5px;
  font-weight: bold;
}

.restore_button_block {
  display: flex;
  margin: 0;
  width: 450px;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
}
.restore_button:hover {
  transform: scale(1.03);
}

.restore_button {
  position: relative;
  background-color: #1ed760;
  color: #000000;
  border-radius: 500px;
  /* padding: 16px 48px; */
  font-weight: bold;
  border: none;
  /* transition: 1s; */
  cursor: pointer;
  margin-top: 1rem;
  width: 200px;
  height: 50px;
}
.restore_button:hover {
  transform: scale(1.03);
  background-color: #1fdf64;
}
