* {
  margin: 0;
  padding: 0;
  font-family: monospace !important;
}

body {
  background-color: black;
}

.body_block {
  display: flex;
  justify-content: center;
}

.main_block {
  margin-top: 5rem;
  height: 400px;
}
.title_block {
  width: 50%;
}
.title {
  font-size: 50px;
  color: blueviolet;
  transition: 1s;
}
.button_block {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  width: 40vmax;
}
.buttons {
  width: 40%;
  height: 3rem;
  border-radius: 15px;
  transition: 1s;
  border: 2px violet solid;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.buttons:hover {
  /* width: 31%;   */
  background-color: blueviolet;
  border-radius: 20px;
}

/* ADAPTIVE  */

@media (max-width: 963px) {
  .buttons {
    font-size: 12px;
  }
}
@media (max-width: 438px) {
  .buttons {
    font-size: 10px;
  }
  .title {
    font-size: 30px;
  }
}
