* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family, spotify-circular), Helvetica, Arial,
    sans-serif;
}
.preview_body_block {
  background-color: #f4d03f;
  background-image: linear-gradient(90deg, #f4d03f 0%, #16a085 100%);
  width: 100vmax;
  height: 100vmin;
}

.preview_main_block {
  background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100%
      1068px no-repeat,
    linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
  width: 100vmax;
  margin: 0;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.preview_img_block {
  position: relative;
  width: 40%;
  padding-top: 100px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.preview_img {
  width: 95%;
  margin-top: 40px;
  height: 95%;
}
.preview_iphone_part {
  width: 50px;
  height: 7px;
  background-color: black;
  border-radius: 5px;
  margin-top: 30px;
}
.preview_img_parent_block {
  background-color: #f4d03f;
  background-image: linear-gradient(90deg, #f4d03f 0%, #16a085 100%);

  position: relative;
  width: 300px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px 50px 0px 0px;
  margin-top: 100px;
}

.preview_text_block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 500px;
  flex-direction: column;
}
.preview_spotify_icon {
  width: 350px;
  height: 200px;
  margin-bottom: 40px;
}
.preview_text {
  color: white;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.15;
  letter-spacing: -1.92px;
  padding-bottom: 32px;
}
.preview_button_group {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
}

/* SIGN UP BUTTON */

.preview_button,
.preview_button:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.preview_button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "SPOTIFY";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    green 3%,
    green 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.preview_button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
