* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.main_edit_block {
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100vmax;
  align-items: center;
  text-align: center;
}
.edit_block {
  /* background-color: aqua; */
  height: 87vh;
  width: 85%;
  display: flex;
  background: transparent;
  flex-direction: column;
  border: 2px solid violet;
  text-align: center;
  align-items: center;
}
.title_edit_block {
  display: flex;
  justify-content: center;
}
.title_edit {
  color: white;
  font-size: 50px;
}
.inputs_edit_main_block {
  margin-top: 2rem;
  /* background-color: bisque; */
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.inputs_edit_block1 {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 35%;
}
.inputs_edit_block2 {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 35%;
}
.inputs_edit {
  margin-top: 1rem;
  border-radius: 10px;
  height: 2.5rem;
  background: transparent;
  color: white;
  width: 50%;
}
.inputs_edit::placeholder {
  color: white;
  padding: 10px;
}
.button_edit_block {
  /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* margin: 2rem; */
  height: 20%;
  margin-top: 20%;
  background-color: red;
}
.edit_button {
  width: 25%;
  height: 3rem;
  border-radius: 15px;
  border: 2px solid violet;
  background: transparent;
  color: white;
  transition: 1s;
  cursor: pointer;
  margin-top: 9rem;
}
.edit_button:hover {
  border-radius: 20px;
  background-color: darkviolet;
}
.edit_link {
  margin-top: 3rem;
  color: white;
}

.edit_img_block {
  background-color: gray;
  width: 150px;
  height: 150px;
  margin-top: 7rem;
}

.edit_img {
  width: 100%;
  height: 100%;
  border: 2px violet solid;
}
.edit_button_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
}
